html {
  scroll-behavior: smooth;
  background-color: #f2f2f2;
}

body {
  font-size: 2em;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Jost', sans-serif;
    font-weight: 300;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}

#phritz {

  color: #2f2f2f;

  font-family:'Jost', sans-serif;
  font-weight: 400;

  animation-name: fade-in;
  animation-duration: 2s;

  /* margin-left: 40px; */

  display:-webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  letter-spacing: -1.5px;

  text-decoration: none;

  padding-top: 30px;

}

#menufont {
  font-family:'Jost', san-serif;
  font-size: 10px;
  letter-spacing: 2px;
  padding-left: 10px;
  margin-top: 8px;
}

#announcements {

    margin: 0;

    color: #2f2f2f;

    font-family:'Jost', sans-serif;
    font-weight: 200;
    font-size: 0.5em;

    letter-spacing: 1px;

    text-align: center;

    animation-name: fade-in;
    animation-duration: 3s;

}

#load {
  position: fixed;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100%;
  transition: all 1s;
  animation-name: fade-in-3;
  z-index: 10;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

img.logoload {
  display: block;
  position: absolute;
  top: 0; bottom: 10%; left: 0; right: 0;
  margin: auto;
  width: 30px;
  height: calc(width/625*1789);
  /*625∶1789*/
}


.headerimg {

  display: block;
  position: fixed;
  inset: 0;
  height: 100px;
  /* animation-name: fade-in-3;
  animation-duration: 2s; */
  z-index: 1;
  padding-left: 120px;

}

img.headerlogo {

  display: block;
  position: absolute;
  top: 100px; bottom: 10%; left: 0; right: 0;
  margin: auto;
  width: 20px;
  height: calc(width/625*1789);

}

.announcement-link {

  text-decoration: none;

}

.ap {
  background: url("../imgs/pic2023opt.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 auto;
  /* min-height: 100vh;
  min-height: 100dvh; */
  height: 100vh;
  height: 100lvh;
  width: 100%;
  padding-right: 20px;
  position: fixed;
  z-index: -1;
}

.ap-blank {
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100lvh;
  width: 100%;
  padding-right: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about {
  margin: 0 auto;
  height: 540px;
  width: 100%;
  padding-right: 20px;
  background-color: #f2f2f2;
}

.description {
  padding-top: 180px;
  margin: auto;
}

.navlist {
  padding-top: 30px;
}

.navlist br {
  line-height: 0.4;
}

.underline {
  display: inline-block;
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.6px;
  bottom: 0;
  left: 0;
  background-color: #363636;
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

.underline:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

#des-font {
  font-family:'Jost', san-serif;
  font-weight: 300;
  letter-spacing: normal;
  text-align: center;
}

#tz {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

#p {
  font-size: 12px;
  letter-spacing: 1px;
}

#nav {
  position: relative;
  font-size: 12px;
  letter-spacing: 1px;
}

#nav a:hover {
  transform: scale(0.8);
  opacity: 0.4;
}

.portfolio {

  display: grid;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 80px;
  padding-top: 200px;
  height: 100vh;
  padding-left: 60px;
  padding-right: 5%;
  padding-bottom: 18%;
  overflow: auto;
  background-color: #f2f2f2;
}

.coverart {

  display: -webkit-flex;
  width: 150px;
  height: 150px;
  align-items: center;
  filter: drop-shadow(3px 3px 10px rgb(140, 140,140, 0.6));
  transform: translateZ(0);
  transition: opacity 0.3s;

}

@media (max-device-width: 547px) {

  .portfolio {
    padding-top: 200px;
    padding-bottom: 18%;
    grid-gap: 50px;
  }

  .coverart {
    width: 100px;
    height: 100px;
  }

}

.click {

  display: block;
  width: 100%;
  height: 100%;

}

.min10 {

  background-image: url("https://yonige.net/s3/skiyaki/uploads/image/file/148934/Panikhida_D_01_s.jpg");
  background-size: cover;
}

.min9 {

  background-image: url("https://m.media-amazon.com/images/I/41Jntok3XDL._SX354_SY354_BL0_QL100__UXNaN_FMjpg_QL85_.jpg");
  background-size: cover;
}

.min8 {

  background-image: url("https://www.tunecore.co.jp/s3pna/tcj-image-production/u114240/r962706/itd962706.jpg");
  background-size: cover;
}

.min7 {

  background-image: url("../imgs/shiribetsu2.jpg");
  background-size: cover;
}

.min6 {

  background-image: url("../imgs/betweenbroken.jpg");
  background-size: cover;
}

.min5 {

  background-image: url("../imgs/carrefour.jpg");
  background-size: cover;
}

.min4 {

  background-image: url("../imgs/limeadecloseenough.jpg");
  background-size: cover;
}

.min3 {

  background-image: url("../imgs/waitasecond.jpg");
  background-size: cover;
}

.min2 {

  background-image: url("../imgs/loveride.jpg");
  background-size: cover;
}

.min1 {

  background-image: url("../imgs/gf4.jpg");
  background-size: cover;
}

.zero {

  background-image: url("../imgs/grayscale.jpg");
  background-size: cover;
}
.one {

  background-image: url("../imgs/upset.jpg");
  background-size: cover;
}

.two {

  background-image: url("../imgs/blossom.jpg");
  background-size: cover;
}

.three {

  background-image: url("../imgs/figure.jpg");
  background-size: cover;
}

.four {

  background-image: url("../imgs/summit.jpg");
  background-size: cover;
}

.five {

  background-image: url("../imgs/changemymind.jpg");
  background-size: cover;
}

.six {

  background-image: url("../imgs/everyoneelse.jpg");
  background-size: cover;
}

.seven {

  background-image: url("../imgs/longwayhome.jpg");
  background-size: cover;
}

.eight {

  background-image: url("../imgs/backtotop.png");
  background-size: cover;
}

.updates {

  padding-right: 2%;
  height: 100vh;
  display: -webkit-flex;
  text-align: center;
  justify-content: center

}

.center {
  margin: auto;
}

#bgimage {

/* 0.1830985915 */
/* 175.77464784 */

  /* width: 96%;
  padding-top: 66.7%;
  background: url("../imgs/pic2021.jpg") no-repeat center;
  background-size: contain; */

  animation-name: fade-in-3;
  animation-duration: 2s;

}

.btn {

  display: block;
  position: fixed;
  padding-left: 30px;
  padding-top: 39px;
  /* margin: auto; */
  /* text-align: center; */

  /* top: -100%; */
  /* content: ""; */
  animation-name: fade-in-3;
  animation-duration: 2s;
  transition: 0.5s;
  z-index: 2;

}

#menubtn {
  opacity: 1;
}

.sidebar {

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /* -webkit-backdrop-filter: blur(10.95px) brightness(100%); */
  /* box-shadow: 0 0 50px 50px #f2f2f2 inset; */
  top: 0;
  left: 0;
  background-image: linear-gradient(to left,rgba(242,242,242, 0),rgba(242,242,242, 1) 80%);
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  transform: translateZ(0);

}

.hyperlinks {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: left;

}

#socials.minus {

  margin-top: 15px;
  margin-bottom: 30px;

}

#socials {

  width: 100%;
  margin-left: 30px;
  align-items: center;

}

#socials.minus {
  margin-top: 20px;
}

#social-links {

   text-decoration: none;
   height: 100%;
}

#icons {

  display: inline;
  margin: 12px;
  color: #2f2f2f;

  animation-name: fade-in-2;
  animation-duration: 3.5s;

  transition: all 300ms ease-in-out;

  width: 100%;
  height: 70%;
}

#icons:hover {

  color: #d2d2d2;
  transform: scale(0.95);
  cursor: pointer;

}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-opacity: 0%;
  }
  100% {
    -webkit-opacity: 100%;
  }
}


@keyframes fade-in-2 {
  0% {
    opacity: 0%;
  }
  /* 50% {
    opacity: 0%;
  } */
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fade-in-2 {
  0% {
    -webkit-opacity: 0%;
  }
  /* 50% {
    opacity: 0%;
  } */
  100% {
    -webkit-opacity: 100%;
  }
}

@keyframes fade-in-3 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fade-in-3 {
  0% {
    -webkit-opacity: 0%;
  }
  50% {
    -webkit-opacity: 0%;
  }
  100% {
    -webkit-opacity: 100%;
  }
}


@media (max-width: 400px) {

  body {
    font-size: 2em;
  }

}


@media (min-width: 1366px) {

  body {
    font-size: 2.4em;
  }
